
   $padding-xxxl: 120px;
   $padding-xxl: 60px;
   $padding-xl: 50px;
   $padding-l: 40px;
   $padding-m: 30px;
   $padding-s: 20px;
   $padding-xs: 10px;

   $margin-xxxl: 120px;
   $margin-xxl: 60px;
   $margin-xl: 50px;
   $margin-l: 40px;
   $margin-m: 30px;
   $margin-s: 20px;
   $margin-xs: 10px;

   $fs-xxl: 42px;
   $fs-xl: 30px;
   $fs-l: 24px;
   $fs-m: 20px;
   $fs-s: 18px;
   $fs-xs: 16px;
   $fs-xxs: 14px;

       
   $fw-xl:700;
   $fw-l:600;
   $fw-m:500;
   $fw-s:400;
   
   $primary-text-color: rgba(34, 34, 34, 1);
   $secondary-text-color: rgba(102, 102, 102, 1);
   $thrid-text-color: rgba(0, 142, 204, 1);


   $primary-bg: #EAEAEA;
   $secondary-bg: rgba(245, 245, 245, 1);
   $thrid-bg: rgba(33, 40, 68, 1)